@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #2a004e;
  --brand-light: #541a85;
  --background: #e0e7ff;
  --primary-content: #0f172a;
  --secondary-content: #64748b;
}
